.pageWrapper {
  position: relative;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.topRightButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.container {
  display: flex;
  gap: 1rem; /* oder 16px, 20px */
  height: calc(100vh - 60px - 6rem); /* Abzüglich Navbar-Höhe */
  padding: 1rem;
  padding-top: 4rem;
}

.leftSide {
  display: flex;
  flex-direction: column;
  flex: 1; /* Nimmt 1/3% des Raums */
  overflow: hidden;
  /*border-right: 1px solid #e0e0e0; */
  padding-right: 1rem;
  height: 100%;
  min-height: 0;
}

.rightSide {
  display: flex;
  flex-direction: column;
  flex: 2; /* Nimmt 2/3% des Raums */
  padding-left: 1rem;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}

.rightSideContent {
  flex:1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.formWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}