@import "./shared/styles/main.css";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex: 1;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
